body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  color: #a5a5a5;
  text-align: center;
  background: #FFF;
  padding: 16px;
}

.main img {
  max-width: 75vw;
  max-height: 85vh;
}

.main p {
  padding: 0;
  margin: 0;
}

.badge span {
  height: fit-content;
  background-color: #2747AF;
  font-size: 14px;
  color: #FFF;
  padding: 10px 25px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .main {
    font-size: 18px;
  }

  .badge span {
    font-size: 12px;
  }
}
